/* Hotels.css */

.hotels-container {
  padding: 20px;
}

.filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filter-container label {
  margin-right: 10px;
  font-weight: bold;
}

.filter-container select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.filter-container select:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.filter-container select:hover {
  border-color: #007bff;
}

.hotels-list {
  display: flex;
  flex-wrap: wrap;
}

.hotel-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  width: calc(33% - 40px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.hotel-card:hover {
  transform: scale(1.05);
}

.hotel-card img {
  width: 100%;
  border-radius: 8px;
}

.book-hotels-btn {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* margin-left: 10px; */
  transition: background-color 0.3s, transform 0.3s;
}

.book-hotels-btn:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.book-hotels-btn:active {
  transform: scale(0.95);
}

.load-more-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 0;
  transition: background-color 0.3s, transform 0.3s;
}

.load-more-btn:hover {
  background-color: #0069d9;
  transform: scale(1.05);
}

.load-more-btn:active {
  transform: scale(0.95);
}
